<form (ngSubmit)="login()" [formGroup]="loginForm" action="" class="w-[450px]">
  <h2
    class="font-bold text-3xl font-title dark:text-white-principal text-black-principal my-16 text-center"
  >
    Ingresar
  </h2>

  <div class="flex flex-col gap-4">

    <label for="email" class="flex flex-col gap-1">
      <p class="font-bold text-black-principal dark:text-white-principal text-base font-title">Email</p>
     <input formControlName="email" [ngClass]="{'input-standard h-10 w-full rounded-md' : true,
     'input-error' : !isValid('email'),
     'input-regular' : isValid('email')}" type="email" placeholder="example@example.com" autocomplete="email">

     <custom-errors-message *ngIf="!isValid('email')"
       [formGroup]="loginForm" controlName="email"
       class="title-error-small">
     </custom-errors-message>
    </label>

    <label for="password" class="flex flex-col gap-1">
      <p class="font-bold text-black-principal dark:text-white-principal text-base font-title">Password</p>
     <input formControlName="password" [ngClass]="{'input-standard h-10 w-full rounded-md' : true,
     'input-error' : !isValid('password'),
     'input-regular' : isValid('password')}" type="password" placeholder="******" autocomplete="new-password">

     <custom-errors-message *ngIf="!isValid('password')"
       [formGroup]="loginForm" controlName="password"
       class="title-error-small">
     </custom-errors-message>
    </label>

    <button [ngClass]="{'btn-light-red hover:bg-error-redLight text-error-redDark border-error-redDark opacity-50' : !loginForm.valid, 'btn-ghost-solid-success' : loginForm.valid}" class="h-10 w-full" type="submit" [disabled]="!loginForm.valid">Continuar con email</button>
  </div>

  <div class="h-0.5 bg-gray-neutral w-full my-6"></div>

  <div class="flex flex-col gap-4">
    <button class="btn-ghost-neutral gap-2 h-10 w-full">
      <img
        src="../../../../../../assets/images/svg/icon-google.svg"
        alt="icon google"
      />
      <p>Continuar con Google</p>
    </button>
    <button class="btn-ghost-neutral gap-2 h-10 w-full">
      <img
        src="../../../../../../assets/images/svg/icon-facebook.svg"
        alt="icon facebook"
      />
      <p>Continuar con Facebook</p>
    </button>
  </div>

  <div class="flex font-title text-sm text-black-principal dark:text-white-principal gap-2 justify-center mt-9">
    <a href="#" class="underline hover:text-primary-blueNeutral dark:hover:text-dark-prymaryColor">Terminos</a>
      <span>y</span>
    <a href="#" class="underline hover:text-primary-blueNeutral dark:hover:text-dark-prymaryColor">Condiciones</a></div>
</form>
