<section
  [ngClass]="{
    'heigh-dynamic-two': isFilterOpened,
    'heigh-dynamic-one': !isFilterOpened
  }"
  class="grid grid-flow-row gap-y-16 gap-x-4 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 overflow-auto"
>
  <!-- <b *ngIf="loading$ | async">Cargando....</b> -->
  <ng-container *ngIf="(loading$ | async) && !searchWorkiis && !workiis">
    <skeleton-cards
      class="col-span-5 grid grid-flow-row 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 gap-x-4 gap-y-16 overflow-hidden pt-10 pr-1"
    ></skeleton-cards>
  </ng-container>

  <ng-container *ngIf="searchWorkiis">
    <div
      class="flex justify-center pt-10 pr-1 h-fit"
      *ngFor="let searchWorkii of searchWorkiis; let i = index"
    >
      <ng-container *ngIf="applications">
        <div
          (click)="openModal(searchWorkii, i, applications)"
          class="w-[242px] flex flex-col cursor-pointer hover:scale-110 transition h-auto"
        >
          <div
            class="bg-gray-lighter rounded-t-xl h-[150px] flex justify-between flex-col px-4 pt-2 relative"
          >
            <div
              class="w-16 h-16 bg-gray-light absolute rounded-full -top-[24px]"
            ></div>

            <div class="pt-10 gap-2 flex flex-col">
              <h3
                class="title-lg-black w-[190px] h-7 text-ellipsis overflow-hidden whitespace-nowrap"
              >
                {{ searchWorkii.name }}
              </h3>
              <div class="gap-2 flex flex-row items-center">
                <img
                  src="../../../../../../assets/images/svg/icon-target.svg"
                  alt="icon target"
                />
                <p class="body-sm-black">{{ searchWorkii.target }}</p>
              </div>
              <div class="gap-2 flex flex-row items-center">
                <img
                  src="../../../../../../assets/images/svg/icon-time.svg"
                  alt="icon target"
                />
                <p class="body-sm-black">
                  {{ searchWorkii.executionTime }} días
                </p>
              </div>
            </div>
          </div>

          <div
            [ngClass]="{
              'bg-accent-yellow title-sm-black border-b-0':
                !searchWorkii.isApplied && !searchWorkii.isCreatedByCurrentUser,
              'bg-success-greenLight border-success-greenDark':
                searchWorkii.isApplied,
              'bg-secondary-lightBlue border-primary-blueNeutral':
                searchWorkii.isCreatedByCurrentUser,
              'h-12 w-full rounded-b-xl flex flex-col items-center px-4 py-1 border-b-4': true
            }"
          >
            <ng-container
              *ngIf="
                !searchWorkii.isApplied && !searchWorkii.isCreatedByCurrentUser
              "
            >
              <div class="flex flex-row items-center gap-1 w-full">
                <img
                  src="../../../../../../assets/images/svg/icon-decorator-card-workii.svg"
                  alt="icon decorator card workii"
                />
                <div class="h-[1px] bg-black-principal flex-grow"></div>

                <p>Recompensa</p>

                <div class="h-[1px] bg-black-principal flex-grow"></div>
                <img
                  src="../../../../../../assets/images/svg/icon-decorator-card-workii.svg"
                  alt="icon decorator card workii"
                />
              </div>

              <p>{{ searchWorkii.cost }} USD</p>
            </ng-container>

            <ng-container *ngIf="searchWorkii.isApplied">
              <div class="flex flex-col gap-1 items-center justify-center pt-1">
                <img
                  src="../../../../../../assets/images/svg/icon-check.svg"
                  alt="icon check"
                />
                <p class="text-success-greenDark title-sm-white">
                  Has aplicado
                </p>
              </div>
            </ng-container>

            <ng-container *ngIf="searchWorkii.isCreatedByCurrentUser">
              <div class="flex flex-col gap-1 items-center justify-center pt-1">
                <img
                  src="../../../../../../assets/images/svg/icon-time.svg"
                  alt="icon time"
                />
                <p class="text-primary-blueNeutral title-sm-white">
                  Buscando talentos
                </p>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="workiis && workiis.length > 0 && !searchWorkiis">
    <div
      class="flex justify-center pt-10 pr-1 h-fit"
      *ngFor="let workii of workiis; let i = index"
    >
      <ng-container *ngIf="applications">
        <div
          (click)="openModal(workii, i, applications)"
          class="w-[242px] flex flex-col cursor-pointer hover:scale-110 transition h-auto"
        >
          <div
            class="bg-gray-lighter rounded-t-xl h-[150px] flex justify-between flex-col px-4 pt-2 relative"
          >
            <div
              class="w-16 h-16 bg-gray-light absolute rounded-full -top-[24px]"
            ></div>

            <div class="pt-10 gap-2 flex flex-col">
              <h3
                class="title-lg-black w-[190px] h-7 text-ellipsis overflow-hidden whitespace-nowrap"
              >
                {{ workii.name }}
              </h3>
              <div class="gap-2 flex flex-row items-center">
                <img
                  src="../../../../../../assets/images/svg/icon-target.svg"
                  alt="icon target"
                />
                <p class="body-sm-black">{{ workii.target }}</p>
              </div>
              <div class="gap-2 flex flex-row items-center">
                <img
                  src="../../../../../../assets/images/svg/icon-time.svg"
                  alt="icon target"
                />
                <p class="body-sm-black">{{ workii.executionTime }} días</p>
              </div>
            </div>
          </div>

          <div
            [ngClass]="{
              'bg-accent-yellow title-sm-black border-b-0':
                !workii.isApplied && !workii.isCreatedByCurrentUser,
              'bg-success-greenLight border-success-greenDark':
                workii.isApplied,
              'bg-secondary-lightBlue border-primary-blueNeutral':
                workii.isCreatedByCurrentUser,
              'h-12 w-full rounded-b-xl flex flex-col items-center px-4 py-1 border-b-4': true
            }"
          >
            <ng-container
              *ngIf="!workii.isApplied && !workii.isCreatedByCurrentUser"
            >
              <div class="flex flex-row items-center gap-1 w-full">
                <img
                  src="../../../../../../assets/images/svg/icon-decorator-card-workii.svg"
                  alt="icon decorator card workii"
                />
                <div class="h-[1px] bg-black-principal flex-grow"></div>

                <p>Recompensa</p>

                <div class="h-[1px] bg-black-principal flex-grow"></div>
                <img
                  src="../../../../../../assets/images/svg/icon-decorator-card-workii.svg"
                  alt="icon decorator card workii"
                />
              </div>

              <p>{{ workii.cost }} USD</p>
            </ng-container>

            <ng-container *ngIf="workii.isApplied">
              <div class="flex flex-col gap-1 items-center justify-center pt-1">
                <img
                  src="../../../../../../assets/images/svg/icon-check.svg"
                  alt="icon check"
                />
                <p class="text-success-greenDark title-sm-white">
                  Has aplicado
                </p>
              </div>
            </ng-container>

            <ng-container *ngIf="workii.isCreatedByCurrentUser">
              <div class="flex flex-col gap-1 items-center justify-center pt-1">
                <img
                  src="../../../../../../assets/images/svg/icon-time.svg"
                  alt="icon time"
                />
                <p class="text-primary-blueNeutral title-sm-white">
                  Buscando talentos
                </p>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <div *ngIf="modalSwitch">
    <modal-info-workii
      [workii]="selectedWorkii"
      [index]="index"
      [applicationId]="applicationId"
      [userCurrentId]="userCurrentId"
    ></modal-info-workii>
  </div>
</section>
