.modal {
    background: rgba(0, 0, 0, 0.479);
}

.child-hover-one {
  stroke: #fff;
}

.custom-background-title {
  background: linear-gradient(180deg, #000000 -30%, rgba(0, 0, 0, 0) 90%);
}

.hover-child {
  stroke: #278CEA
}

.hover-parent:hover .hover-child {
  stroke: #fff;
}

.heigh-dynamic-one {
  height: calc(100vh - 250px);
}

.heigh-dynamic-two {
  height: calc(100vh - 314px);
}

.active {
  color: #278CEA;
  font-weight: bolder;
}

.backdrop-custom {
  background: #ffffff95;
}
