<div class="flex justify-center" *ngFor="let workii of workiis; let i = index">
  <div class="w-[242px] flex flex-col skeleton-animate">
    <div
      class="bg-gray-lighter dark:bg-black-alternative rounded-t-xl h-[150px] flex justify-between flex-col px-4 pt-2 relative"
    >
      <div
        class="w-16 h-16 bg-gray-light dark:bg-black-alternative absolute rounded-full -top-[24px]"
      ></div>
    </div>

    <div
      class="h-12 w-full rounded-b-xl flex flex-col items-center px-4 py-1 border-b-4 bg-gray-neutral"
    ></div>
  </div>
</div>
