<div class="flex w-full custom-heigh justify-center items-center flex-grow">
  <form (ngSubmit)="login()" [formGroup]="registerStep3" action="" class="w-[450px]">
    <div class="flex flex-col gap-4 my-16">
      <h1
        class="title-3xl-black text-center"
      >
        Conociendote un poco mas
      </h1>
      <h2 class="body-base-black text-center">Necesitamos saber mas sobre ti para que tu experiencia en la plataforma sea la mejor.</h2>
    </div>


    <div class="flex flex-col gap-4">

      <label for="areas" class="flex flex-col gap-1">
        <p class="font-bold text-black-principal dark:text-white-principal text-base font-title">Áreas de conocimiento</p>

      <select id="areas" formControlName="areas" [ngClass]="{'input-standard h-10 w-full rounded-md cursor-pointer' : true,
      'input-error' : !isValid('areas'),
      'input-regular' : isValid('areas')}">

        <option value="" selected disabled>seleccionar una o varias áreas</option>
        <option value="">texto</option>
        <option value="">texto</option>
      </select>

      <custom-errors-message *ngIf="!isValid('areas')"
        [formGroup]="registerStep3" controlName="areas"
        class="title-error-small">
      </custom-errors-message>
      </label>

      <label for="profession" class="flex flex-col gap-1">
        <p class="font-bold text-black-principal dark:text-white-principal text-base font-title">Profesión destacada</p>
      <select formControlName="profession" [ngClass]="{'input-standard h-10 w-full rounded-md cursor-pointer' : true,
      'input-error' : !isValid('profession'),
      'input-regular' : isValid('profession')}">

        <option value="" selected disabled>seleccionar tu profesión</option>
        <option value="">texto</option>
        <option value="">texto</option>
      </select>

      <custom-errors-message *ngIf="!isValid('profession')"
        [formGroup]="registerStep3" controlName="profession"
        class="title-error-small">
      </custom-errors-message>
      </label>

      <button [ngClass]="{'btn-solid-blue rounded-md opacity-50' : !registerStep3.valid, 'btn-ghost-solid-success' : registerStep3.valid}" class="h-10 w-full" type="submit" [disabled]="!registerStep3.valid">Finalizar</button>
    </div>

  </form>
</div>

