<nav class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center gap-2">
        <div class="rounded-full bg-gray-neutral h-12 w-12"></div>
        <p class="font-bold font-title text-2xl text-black-principal">Workii</p>
    </div>

    <div class="flex flex-row gap-4">
        <ul class="flex flex-row gap-4 items-center">
            <li>
                <p class="font-bold font-title text-base text-black-principal">Log in</p>
            </li>

            <button class="btn-solid-yellow h-12">
                <p>Crear un worki</p>
            </button>
        </ul>

        <div class="border-2 border-gray-neutral h-12"></div>

        <div class="flex gap-2 items-center">
            <img class="w-6 h-6" src="./../../../../assets/images/svg/icon-support.svg" alt="icon support">


        </div>

    </div>
</nav>
