.modal {
    background: rgba(0, 0, 0, 0.1);
}

.child-hover-one {
  stroke: #fff;
}

.custom-background-title {
  background: linear-gradient(180deg, #000000 -30%, rgba(0, 0, 0, 0) 90%);
}

.hover-child {
  stroke: #278CEA
}

.hover-parent:hover .hover-child {
  stroke: #fff;
}

