.hover-child {
  display: none;
}

.hover-parent:hover .hover-child {
  display: flex;
}

.hover-child-two {
  display: none;
  width: 121px;
}

.hover-parent-two:hover .hover-child-two {
  display: flex;
}

.hover-child-three {
  display: none;
  width: 121px;
}

.hover-parent-three:hover .hover-child-three {
  display: flex;
}
