<div class="flex flex-col gap-2 mt-16 items-start mb-2">
  <div class="flex flex-row justify-between gap-2 items-end w-full">
    <div class="flex flex-row gap-2 flex-grow-[1]">
      <div
        class="h-12 flex flex-grow bg-gray-lighter rounded-md pr-4 items-center"
      >
        <input
          type="text"
          class="flex w-full bg-transparent input-standard ring-0"
        />
        <img
          class="h-6 w-6"
          src="../../../../../../assets/images/svg/icon-search.svg"
          alt="icon search"
        />
      </div>
      <button
        [ngClass]="{ 'bg-success-greenDark': isFilterOpened }"
        (click)="toggleFilter()"
        class="w-12 h-12 btn-solid-blue rounded-md"
      >
        <img
          src="../../../../../../assets/images/svg/icon-filter.svg"
          alt="icon filter"
        />
      </button>
    </div>

    <div class="flex-grow-[1] flex justify-end">
      <button (click)="openModal()" class="btn-solid-blue rounded-md px-4 h-12">
        Crear Workii
      </button>
    </div>
  </div>

  <div
    *ngIf="isFilterOpened"
    class="flex flex-row gap-4 bg-white-principal shadow-md rounded-b-md p-2 w-full animate__animated animate__bounceIn z-10"
  >
    <div class="flex flex-col gap-2 hover-parent w-[162px] relative">
      <ng-container
        *ngIf="targetService.getSelectedTargets$() | async as selectedTargets"
      >
        <button-filter-target
          [checkedInputs]="checkedInputs"
        ></button-filter-target>
      </ng-container>

      <div
        class="hover-child flex-col gap-2 p-2 bg-white-principal shadow-md rounded absolute z-10 top-[40px]"
      >
        <ng-container *ngFor="let target of targets; index as i">
          <label
            [for]="target"
            class="flex flex-row gap-2 items-center cursor-pointer"
          >
            <input
              type="checkbox"
              [id]="target"
              #checked
              (change)="onTargetChange(target, checked.checked)"
              class="rounded outline-0 ring-0 cursor-pointer"
            />
            <p class="title-sm-black">{{ target }}</p>
          </label>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalSwitch">
  <modal-create-workii></modal-create-workii>
</div>

<div class="flex w-full pb-8">
  <div class="h-[1px] w-full bg-black-principal opacity-20"></div>
</div>

<ng-container
  *ngIf="{
    combined: combined$ | async,
    workiisInApplications: workiisInApplications() | async
  } as context"
>
  <workiis-cards
    [workiis]="
      context.workiisInApplications!
        | targetFilter : (targetService.getSelectedTargets$() | async)
    "
    [applications]="context.combined!.applications"
    [userCurrentId]="userCurrentId"
    [isFilterOpened]="isFilterOpened"
  ></workiis-cards>
</ng-container>
