<div class="flex flex-col gap-2 mt-16 items-start mb-2">
  <div class="flex flex-row justify-between gap-2 items-end w-full">
    <div class="flex flex-row gap-2 flex-grow-[1]">
      <div
        class="h-12 flex flex-grow bg-gray-lighter rounded-md pr-4 items-center"
      >
        <input
          [formControl]="searchControl"
          placeholder="Buscar Workii"
          #search
          type="text"
          class="flex w-full bg-transparent input-standard ring-0"
        />
        <img
          class="h-6 w-6"
          src="../../../../../../assets/images/svg/icon-search.svg"
          alt="icon search"
        />
      </div>
      <button
        [ngClass]="{ 'bg-success-greenDark': isFilterOpened }"
        (click)="toggleFilter()"
        class="w-12 h-12 btn-solid-blue rounded-md"
      >
        <img
          src="../../../../../../assets/images/svg/icon-filter.svg"
          alt="icon filter"
        />
      </button>
    </div>

    <div class="flex-grow-[1] flex justify-end">
      <button (click)="openModal()" class="btn-solid-blue rounded-md px-4 h-12">
        Crear Workii
      </button>
    </div>
  </div>

  <div
    *ngIf="isFilterOpened"
    class="flex flex-row gap-4 bg-white-principal shadow-md rounded-b-md p-2 w-full animate__animated animate__bounceIn z-10"
  >
    <div class="flex flex-col gap-2 w-[162px] relative hover-parent">
      <ng-container
        *ngIf="targetService.getSelectedTargets$() | async as selectedTargets"
      >
        <button-filter-target
          [checkedInputsTarget]="checkedInputsTarget"
        ></button-filter-target>
      </ng-container>

      <div
        class="hover-child flex-col gap-2 p-2 bg-white-principal shadow-md rounded absolute z-10 top-[40px]"
      >
        <ng-container *ngFor="let target of targets; index as i">
          <label
            [for]="target"
            class="flex flex-row gap-2 items-center cursor-pointer"
          >
            <input
              type="checkbox"
              [id]="target"
              #checkedTarget
              (change)="onTargetChange(target, checkedTarget.checked)"
              class="rounded outline-0 ring-0 cursor-pointer"
            />
            <p class="title-sm-black">{{ target }}</p>
          </label>
        </ng-container>
      </div>
    </div>

    <div class="flex flex-col gap-2 relative hover-parent-two w-[121px]">
      <ng-container
        *ngIf="targetService.getSelectedTargets$() | async as selectedTargets"
      >
        <button-filter-time [checkedInputs]="checkedInputsTime">
        </button-filter-time>
      </ng-container>

      <div
        class="hover-child-two flex-col gap-2 p-2 bg-white-principal shadow-md rounded absolute z-10 top-[40px]"
      >
        <ng-container *ngFor="let time of times; index as i">
          <label
            [for]="time"
            class="flex flex-row gap-2 items-center cursor-pointer"
          >
            <input
              type="checkbox"
              [id]="time"
              #checkedTime
              (change)="onTimeChange(time, checkedTime.checked)"
              class="rounded outline-0 ring-0 cursor-pointer"
            />
            <p class="title-sm-black">{{ time }} dias</p>
          </label>
        </ng-container>
      </div>
    </div>

    <div class="flex flex-col gap-2 relative hover-parent-three w-[121px]">
      <button-filter-cost
        [checkedInputsCost]="checkedInputsCost"
      ></button-filter-cost>
      <div
        class="hover-child-three flex-col gap-2 p-2 bg-white-principal shadow-md rounded absolute z-10 top-[40px]"
      >
        <ng-container *ngFor="let cost of costs; index as i">
          <label
            [for]="cost"
            class="flex flex-row gap-2 items-center cursor-pointer"
          >
            <input
              type="radio"
              name="costGroup"
              [id]="cost"
              [value]="cost"
              #checkedCost
              (change)="onCostChange(cost, checkedCost.checked)"
              class="rounded outline-0 ring-0 cursor-pointer"
            />
            <p class="title-sm-black">{{ cost }}</p>
          </label>
        </ng-container>
      </div>
    </div>

    <div class="flex flex-col gap-2 relative hover-parent-four w-[130px]">
      <button-filter-ownership
        [checkedInputsStatus]="checkedInputsStatus"
      ></button-filter-ownership>
      <div
        class="hover-child-four flex-col gap-2 p-2 bg-white-principal shadow-md rounded absolute z-10 top-[40px]"
      >
        <ng-container *ngFor="let state of status; index as i">
          <label
            [for]="state"
            class="flex flex-row gap-2 items-center cursor-pointer"
          >
            <input
              type="checkbox"
              name="costGroup"
              [id]="state"
              [value]="state"
              #checkedOwnership
              (change)="onStatusChange(state, checkedOwnership.checked)"
              class="rounded outline-0 ring-0 cursor-pointer"
            />
            <p class="title-sm-black">{{ state }}</p>
          </label>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalSwitch">
  <modal-create-workii></modal-create-workii>
</div>

<div class="flex w-full pb-8">
  <div class="h-[1px] w-full bg-black-principal opacity-20"></div>
</div>

<ng-container
  *ngIf="{
    applications: (applications$ | async) || [],
    searchInApplications:
      (workiisOrSearchInApplications(searchWorkiis$) | async) || [],
    workiisInApplications:
      (workiisOrSearchInApplications(workiis$) | async) || []
  } as context"
>
  <ng-container
    *ngIf="
      context.applications.length ||
      context.searchInApplications.length ||
      context.workiisInApplications.length
    "
  >
    <ng-container *ngIf="loading$ | async">
      <ng-container
        *ngIf="
          this.searchControl.value === null || this.searchControl.value === ''
        "
      >
        <skeleton-cards
          class="col-span-5 grid grid-flow-row 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 gap-x-4 gap-y-16 overflow-hidden pt-10 pr-1"
        ></skeleton-cards>
      </ng-container>

      <ng-container
        *ngIf="
          this.searchControl.value !== '' && hasSearched && !(isFound$ | async)
        "
      >
        <search-lottie></search-lottie>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="isFound$ | async">
      <not-found></not-found>
    </ng-container>

    <ng-container *ngIf="!(isFound$ | async) && !(loading$ | async)">
      <workiis-cards
        [workiis]="
          context.workiisInApplications!
            | targetFilter : (targetService.getSelectedTargets$() | async)
            | timeFilter : (timeService.getSelectedTimes$() | async) || []
            | costFilter : (costService.getSelectedCost$() | async) || ''
            | statusFilter
              : (statusService.getSelectedStatus$() | async) || []
              : context.applications
              : userCurrentId
        "
        [searchWorkiis]="
          context.searchInApplications!
            | targetFilter : (targetService.getSelectedTargets$() | async)
            | timeFilter : (timeService.getSelectedTimes$() | async) || []
            | costFilter : (costService.getSelectedCost$() | async) || ''
            | statusFilter
              : (statusService.getSelectedStatus$() | async) || []
              : context.applications
              : userCurrentId
        "
        [applications]="(applications$ | async) || []"
        [userCurrentId]="userCurrentId"
        [isFilterOpened]="isFilterOpened"
        [searchControl]="searchControl"
      ></workiis-cards>
    </ng-container>
  </ng-container>
</ng-container>
