.hover-child {
  display: none;
}

.hover-parent:hover .hover-child {
  display: flex;
}

.hover-child-two {
  display: none;
  width: 121px;
}

.hover-parent-two:hover .hover-child-two {
  display: flex;
}

.hover-child-three {
  display: none;
  width: 121px;
}

.hover-parent-three:hover .hover-child-three {
  display: flex;
}

.hover-child-four {
  display: none;
  width: 130px;
}

.hover-parent-four:hover .hover-child-four {
  display: flex;
}

.hover-child-five {
  fill: #D83010;
}

.hover-parent-five:hover .hover-child-five {
  fill: #fff;
}
