<!--<p>header works!</p>-->

<header class="flex flex-row justify-around pt-[160px]">

    <div class="flex flex-col col-span-1 items-start justify-center">

      <div class="flex justify-center text-start text-lg pt-5">
        <h1 class="text-center sm:text-left lg:w-[478px] xl:text-3xl lg:text-2xl md:text-xl md:w-[300px] font-title font-bold text-black-principal dark:text-white-principal">{{ "header.titleParagraph" | translate }}</h1>
      </div>

     <div class="mt-5 flex justify-center w-full md:w-auto">
        <button class="btn-solid-yellow h-12 text-black-principal">
          <p>{{ "header.btnTwo" | translate }}</p>
        </button>
      </div>

    </div>

   <div class="flex col-span-1">

    <img class="xl:h-[335px] lg:h-[280px] md:h-[220px] md:flex hidden" src="./../../../../assets/images/svg/header.svg" alt="" srcset="">
   </div>
   </header>
