<ul class="gap-4 items-center flex flex-row">
	<li
		routerLink="/auth"
		class="p-4 cursor-pointer rounded-full bg-transparent hover:bg-secondary-lightBlue dark:hover:bg-dark-secondaryColorBlue h-12 flex items-center justify-center"
	>
		<p class="font-bold font-title text-base text-primary-blueNeutral dark:text-dark-prymaryColor">
			{{ 'nav.titleOne' | translate }}
		</p>
	</li>

	<button type="button" routerLink="/auth" class="btn-solid-yellow h-12">
		<p>{{ 'nav.btnOne' | translate }}</p>
	</button>
</ul>
