.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ccc;
  animation: jump 1s linear infinite, colorChange 1.5s linear infinite;
}

.dot-1 {
  animation-delay: 0s, 0s;
}

.dot-2 {
  animation-delay: 0.3s, 0.5s;
}

.dot-3 {
  animation-delay: 0.6s, 1s;
}

@keyframes jump {
  0%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

@keyframes colorChange {
  0% {
    background-color: #ccc;
  }
  50% {
    background-color: #333;
  }
  100% {
    background-color: #ccc;
  }
}

.searching-text {
  animation: colorChange 1.5s linear infinite;
}

@keyframes colorChange {
  0% {
    color: #ccc;
  }
  50% {
    color: #333;
  }
  100% {
    color: #ccc;
  }
}
