/* Custos styles */

.custom-size-nav {
  width: calc(100% - 48px);
}

.icon-rotate {
    transform: rotate(0deg);
    transition: 0.5s;
}

.icon-rotate-two {
    transform: rotate(180deg);
    transition: 0.2s;
}

.parent-menu-hover .menu-hover:first-child {
    transform: rotate(45deg);
    position: absolute;
    top: 20.5px;
}

.parent-menu-hover .menu-hover:nth-child(2) {
    opacity: 0;
}

.parent-menu-hover .menu-hover:last-child {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 20.5px;
    width: 30px;
}

.menu-hover {
    transition: all 0.5s;
}

.parent-menu-hover {
    width: 100%;
    height: auto;
    margin: auto;
}
